* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(
        120deg,
        #fcd0cf,
        #f7a29e,
        #f3c6b9,
        #faeddf
    );
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    padding: 0 40px 30px 40px;
    box-shadow:  0 10px 30px rgba(0, 0, 0, 0.4);
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(7, 3, 65)
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 30%;
    left: 30px;
    color: black;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field input:focus ~label,
.txt_field input:valid ~label{
    top: -10px;
    color: deeppink;
}

.pass{
    margin-bottom: 20px;
    color: black;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

.botoes{
    display: flex;
    gap: 15px;
    width: 100%;

}

.botoes input{
    flex: 1;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.3s;

}

.btn-conectar{
    border: 1px solid #f7a29e;
    color: black;
}

.btn-conectar:hover{
    background: #f7a29e;
    border-color: #f7a29e;
}

.btn-cancelar{
    border: 1px solid #f7a29e;
    color: black;
}

.btn-cancelar:hover{
    background: #f7a29e;
    border-color: #f7a29e;
}

.signup_link{
    margin: 30px 0 0;
    text-align: center;
    font-size: 16px;
}

.signup_link a{
    text-decoration: none;
    color: black;
}

.signup_link a:hover{
    text-decoration: underline;
}

.erro{
    text-align: center;
}

#mensagem{
    display: block;
    width: 100%;
    text-align: center;
    color: crimson;
    background-color: beige;
    border: 1px solid #f7a29e;
    border-radius: 6px;
    padding: 6px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
}

.texto-erro{
    font-size: 20px;
    font-weight: bold;
    color: #666;
}

.texto-ajuda{
    font-size: 15px;
    color: #666;
    margin-bottom: 30px;
}

@media (max-width:500px){
    .center{
        width: 90%;
        padding: 0 25px 25px 25px;
    }
}